*{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.light-background-hover:hover{
    background-color: rgb(240, 240, 240);
}

.red-background-hover:hover{
    background-color: darkred;
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}

#deposit-container{
    width: 100%;
}

#dropdown-modal-container{
    margin: 100px 200px 100px 200px;
}

.dropdown-modal div{
    border: 2px solid black;
}

.flex{
    display: flex;
}

.flex-end{
    left:auto;
}

.flex-vertical{
    display:flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.text-end{
    text-align: end;
}

.dropdown-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
}

.dropdown-modal.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: ease .5s;
}

.dropdown-modal.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(600px);
    transition: ease .5s;
}

.no-bullets{
    list-style-type: none;
}
